<% for(var i = 0; i < workers.length; i++){ %>
<tr>
    <td><%= i + 1%></td>
    <td><%= workers[i].FirstName %></td>
    <td><%= workers[i].LastName %></td>
    <td><%= workers[i].MiddleName %></td>
    <td><%= workers[i].SalaryName %></td>
    <td><%= workers[i].Email %></td>
    <td>
        <a href="/update_worker?id=<%=workers[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%=workers[i]._id%>>
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>