<%-include('include/_header')%>

    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/workers"><i class="fas fa-angle-double-left"></i> All Workers</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update Worker</h2>
                <span class="text-light">Use the below to update an worker</span>
            </div>

            <form method="POST" id="update_worker">
                <div class="new-worker">
                    <div class="form-group">
                        <label for="LastName">LastName</label>
                        <input type="hidden" name="id" value="<%=worker._id%>">
                        <input type="text" name="LastName" value="<%=worker.LastName%>" placeholder="Ivanov">
                    </div>
                    <div class="form-group">
                        <label for="LastName">FirstName</label>
                        <input type="text" name="FirstName" value="<%=worker.FirstName%>" placeholder="Ivan">
                    </div>
                    <div class="form-group">
                        <label for="LastName">MiddleName</label>
                        <input type="text" name="MiddleName" value="<%=worker.MiddleName%>" placeholder="Ivanovich">
                    </div>
                    <div class="form-group">
                        <label for="LastName">Salary</label>
                        <input type="text" name="Salary" value="<%=worker.Salary%>" placeholder="100">
                    </div>
                    <div class="form-group">
                        <label for="LastName">Email</label>
                        <input type="text" name="Email" value="<%=worker.Email%>" placeholder="Ivanov@example.com">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

<%-include('include/_footer')%>