<%-include('include/_header')%>

    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/works"><i class="fas fa-angle-double-left"></i> All Works</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update Works</h2>
                <span class="text-light">Use the below to update an works</span>
            </div>

            <form method="POST" id="update_work">
                <div class="new-work">
                    <div class="form-group">
                        <label for="StartDate">StartDate</label>
                        <input type="hidden" name="id" value="<%=works._id%>">
                        <input type="text" name="WorkerEmail" value="<%=works.StartDate%>" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="EndDate">EndDate</label>
                        <input type="text" name="EndDate" value="<%=works.EndDate%>" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="WorkersCount">WorkersCount</label>
                        <input type="text" name="WorkersCount" value="<%=works.WorkersCount%>" placeholder="0">
                    </div>
            
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>

                </div>
            </form>
        </div>
    </main>

<%-include('include/_footer')%>