<%-include('include/_header')%>

    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/worktypes"><i class="fas fa-angle-double-left"></i> All WorkTypes</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update WorkTypes</h2>
                <span class="text-light">Use the below to update an worktypes</span>
            </div>

            <form method="POST" id="update_work">
                <div class="new-work">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="hidden" name="id" value="<%=worktypes._id%>">
                        <input type="text" name="Name" value="<%=worktypes.Name%>" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="Pay">EndDate</label>
                        <input type="text" name="Pay" value="<%=worktypes.Pay%>" placeholder="">
                    </div>
            
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>

                </div>
            </form>
        </div>
    </main>

<%-include('include/_footer')%>